		/* Оформление основных тегов */
		/*Стилизация ползунка. ТОЛЬКО ДЛЯ FIREFOX*/
		*{
			scrollbar-color:  rgba(0,0,0,0.3) rgba(0,0,0,0);     /* «цвет ползунка» «цвет полосы скроллбара» */
			scrollbar-width: thin;  /* толщина */
		}
		body,html{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}
		/*----------------------------------------------------------------------------*/
		.buttonsHead{
			display:flex;
			justify-content: space-between;
			/*border: 2px solid red;*/
		}

		.addtoken{
			margin-left:20px;
		}

		.newToken{
				display:flex;
				/*border: 2px solid red;*/
				margin-top:inherit;
				margin-bottom: 7px;
		}

		.background{
			display:flex;
			padding:30px;
			/*align-items: center;*/
			justify-content: center;
			z-index:100;
			width:500px;
			/*height:40%;*/
			border: .5px solid #282c45;
			border-radius: 15px !important;
			position:absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}
		.back1{
			display:flex;
			width:100%;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.buttons{
			display:flex;
			width:100%;
			justify-content: space-between;
			margin-top:inherit;
			margin-bottom: -5px;
		}

		.selecting{
			width:100%;
		}
		.label{
			display:flex;
			color:white;
			font-weight: bold;
			width:100%;
		}
		.createbutton{
			display:flex;
			justify-content: center;
			align-items: center;
			/*width:38%;*/
			background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
			color:black;
			border-radius: 15px !important;
			border: 2px solid #282c45;
		}
		.crheader{
			display:flex;
			justify-content: center;
			text-align: center;
			font-weight: 600;
			color:white;
			/*border: 3px solid red;*/
		}
		.chatinput{
			margin:inherit;
		}
		.newchat{
			display:flex;
			margin-top:7px;
			margin-bottom: 7px;
			align-items: center;
			flex-direction: column;
		}

		.hd{
			/*border: 1px solid orange;*/
			display:flex;
			align-items: center;
			justify-content: space-between;
		}
		.chatinfo{
			display:flex;
			/*border: 3px solid red;*/
		}
		.chatbut{
			border-radius: 15px;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;

			margin-left: 10px;
		}

		/*-------------------------------То, что я трогала--------------------------------------*/

		/* Кнопка добавления чата */
		.add_btn{
			border-radius: 15px;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
			margin-right: 5px;
			margin-left: -8px;
		}
		.firstline{
			/*border: 3px solid black;*/
			justify-content: space-between;
		}

        /*Для меню тегов*/
		.outtags{
			background-color: rgba(0,0,0,0.15) !important;
		}
		.grouptags{
			/*border: 3px solid black;*/
			margin:5px 15px 5px;
		}
        .tags{
            display:flex;
            width:100%;
            height:40px;
            /*border: 1px solid black;*/

            flex-direction: row;
            overflow-x:auto;
            /*top:84px;*/
            /*position:absolute;*/

			overflow-y: hidden;
        }

        .tag{
            display:flex;
            text-align: center;
			border-radius: 15px;
            /*border: 1px solid black;*/
            padding:5px;
            margin:3px;
        }

		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;

			/*border: 3px solid black;*/
		}

		/* Стиль для Имя+для чата подпись количества сообщений, для человека - сколько времени назад был в сети*/
		.user_info{
			margin-top: auto;
			margin-bottom: auto;
			margin-left: 15px;

			/*border: 3px solid red;*/
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;

			/*display:flex;*/
			/*justify-content: flex-end;*/
			/*flex-direction: column-reverse;*/
		}
		/* ---------------------------------------Скролл webkit ---------------------------------------*/
		/* полоса прокрутки (скроллбар) */
		::-webkit-scrollbar {
			width: 8px; /* ширина для вертикального скролла */
			height: 8px; /* высота для горизонтального скролла */
			/*background-color: #143861;*/
		}

		/* ползунок скроллбара */
		::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,0.3);
			border-radius: 9em;
			box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
		}

		/*Псевдокласс для наведения на ползунок*/
		::-webkit-scrollbar-thumb:hover {
			background-color: #253861;
		}

/*------------------------------------------------------------------------------------*/
        /*Панель ввода*/
        .input{
            display:flex;
            width:100%;
            justify-content: flex-start;
            border: 1px solid black;
            padding-top:10px;
            padding-bottom:10px;
        }
        .input form{
            margin-left:10px;
        }
        /*ВСЕ ПО СООБЩЕНИЮ*/
        .msg{
            display: flex;
            margin-top:5px;
            margin-bottom: 5px;
            margin-left: 10px;
            flex-direction: column;
            width:40%;
            border: 1px solid black;
        }
        .topmsg{
            display: flex;
            justify-content: space-between;
            /*margin-top:5px;*/
            margin-bottom: 3px;
        }
        .username{
            display: flex;
            /*margin-left: 10px;*/
			font-weight:bold;
			color:#7272b4;
            /*border: 1px double red;*/
        }
        .textblock{
            margin-left: 10px;
            display:flex;
            /*border: 1px double blue;*/
        }
        .dateblock{
            margin-left: 10px;
            display:flex;
            /*border: 1px double black;*/
        }
        .tagblock{
            display: flex;
            margin-right: 10px;
			align-items: center;
			/*border: 1px double black;*/
            /*justify-content: space-between;*/
        }
        .round{
            width: 20px;
            height: 20px;
            border: 1px solid black;
            border-radius: 50%;
            -moz-border-radius: 50%;
            display:block;
            margin-left:2px;
            margin-right: 2px;
        }
		
		/*------*/


		.card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;

		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}

        .reversed-flex {
            display: flex;
            flex-direction: column-reverse;
        }
		.msg_card_body{
			overflow-y: auto;
		}


		 .card-footer{
			border-radius: 0 0 15px 15px !important;
				border-top: 0 !important;
		}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}

		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;

			margin-left:10px;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
		.active{
				background-color: rgba(0,0,0,0.3);
		}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}

	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;


	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 10px;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}

	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}

	/*-------------------------------Вспомогательные стили--------------------------------------*/

		/* Ссылки */
		a:link {
			color: black;
			text-decoration: none;
		}
		a:visited {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: black;
			text-decoration: underline;
		}

