<div class="card">
    <div class="card-header msg_head">
        <div class="d-flex bd-highlight hd">
            <div class="chatinfo">
                <!-- Иконка чата	-->
                <div class="img_cont">
                    <img src="https://www.deti.fm/vardata/modules/news/files/1/4961/news_file_4961_60dd8cd28087d.jpg" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <!-- Имя чата и количество сообщений в нём-->
                <div class="user_info">
                    <span th:text="${chat.getTitle()}"></span>
                    <p><span th:text="${msgs.size()}"/> Messages</p>
                </div>
            </div>
            <!--	   Кнопка информации по чату			-->
            <button th:attr="onclick=|aboutChat('${chat.getId()}')|" class="input-group-text chatbut" type="submit">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </button>
        </div>

    </div>

    <!-- Меню тегов -->
    <div class="outtags">
        <div class="grouptags">
            <div class="tags">
                <div th:each="t : ${tags}">
                    <!--								<a onclick="somefunc()" class="tag" th:style="'background:'+ ${t.getColor()}+';'" th:text="${t.getName()}" th:href="@{/tag/{id}(id=${t.getId()})}"></a>-->
                    <button th:attr="onclick=|setCurrTag('${t.getId()}')|"  class="tag" th:style="'background:'+ ${t.getColor()}+';'" th:text="${t.getName()}"></button>
                </div>
            </div>
        </div>
    </div>
    <!--	ЧАТ		-->
    <div class="card-body msg_card_body reversed-flex" id="msgs_body">
        <div class="d-flex justify-content-start mb-4" th:each="m : ${msgs}">
            <div class="msg_cotainer">
                <div class="d-flex firstline">
                    <div class="topmsg">
                        <!--											<a class="username text-dark" th:href="@{/user/{id}(id=${m.getUser().getId()})}" th:text="${m.getUser().getUsername()}" target="_blank"></a>-->
                        <a class="username text-dark" th:attr="onclick=|toUser('${m.getUser().getId()}')|" th:text="${m.getUser().getUsername()}"></a>
                    </div>
                    <div class="tagblock">
                        <div th:each="t : ${mt.findAllByMessage_Id(m.getId())}">
                            <!--<a class="round" th:style="'background:'+ ${t.getTag().getColor()}+';'" th:href="@{/tag/{id}(id=${t.getTag().getId()})}"></a>-->
                            <button th:attr="onclick=|setCurrTag('${t.getTag().getId()}')|"  class="round" th:style="'background:'+ ${t.getTag().getColor()}+';'"></button>
                        </div>
                    </div>
                </div>
                <span th:text="${m.getText()}"></span>
                <span class="msg_time" th:text="${m.getTimeString()}"></span>
            </div>
        </div>
    </div>

    <!--	ВВОД СООБЩЕНИЯ					-->
    <div class="card-footer">
        <form id="inputForm" name="inputForm" onsubmit="getMsg(); return false;">
            <div class="input-group-append">
                <input class="form-control type_msg" type="text" id="msg" name="msg" placeholder="Enter your text here">
                <button class="input-group-text send_btn" type="submit">
                    <i class="fas fa-location-arrow"></i>
                </button>
            </div>
        </form>
    </div>
</div>