<div class="d-flex mb-4" th:classappend="${#authentication.name} == ${m.getUser().getPhoneNum()} ? justify-content-end : justify-content-start" th:each="m : ${msgs}">
	<div class="msg_cotainer">
		<div class="d-flex firstline">
		<div class="topmsg">
			<a class="username text-dark" th:href="@{/user/{id}(id=${m.getUser().getId()})}" th:text="${m.getUser().getUsername()}" target="_blank"></a>
		</div>
			<div class="tagblock">
				<div th:each="t : ${mt.findAllByMessage_Id(m.getId())}">
					<button th:attr="onclick=|setCurrTag('${t.getTag().getId()}')|"  class="round" th:style="'background:'+ ${t.getTag().getColor()}+';'"></button>
				</div>
			</div>
		</div>
		<span th:text="${m.getText()}"></span>
		<span class="msg_time" th:text="${m.getTimeString()}"></span>
	</div>
</div>