<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


		<link rel="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

		<link rel="stylesheet" th:href="@{/css/chat_style.css}"/>
<!--		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->

		<script src="js/chat.js"></script>
	</head>
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat">
					<div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<!--	TODO: Кнопка добавления чата						-->
							<button class="input-group-text add_btn" type="submit">
								<i class="fa fa-plus" aria-hidden="true"></i>
							</button>
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts" th:each="c : ${chats}">

						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span th:text="${c.getTitle()}"></span>
									<p th:text="${c.getDescription()}"></p>
								</div>
							</div>
						</li>
<!--						<li>-->
<!--							<div class="d-flex bd-highlight">-->
<!--								<div class="img_cont">-->
<!--									<img src="" class="rounded-circle user_img">-->
<!--									<span class="online_icon offline"></span>-->
<!--								</div>-->
<!--								<div class="user_info">-->
<!--									<span>Taherah Big</span>-->
<!--									<p>Taherah left 7 mins ago</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</li>-->
						</ui>
					</div>
					<div class="card-footer"></div>
				</div>
				</div>

				<!--	   ШАПКА			-->
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight hd">
								<div class="chatinfo">
								<!-- Иконка чата	-->
								<div class="img_cont">
									<img src="https://www.deti.fm/vardata/modules/news/files/1/4961/news_file_4961_60dd8cd28087d.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<!-- Имя чата и количество сообщений в нём-->
								<div class="user_info">
									<span th:text="${chat.getTitle()}"></span>
									<p><span th:text="${msgs.size()}"/> Messages</p>
								</div>
								</div>
								<!--	Кнопка информации по чату				-->
								<button class="input-group-text chatbut" type="submit">
									<i class="fa fa-comments" aria-hidden="true"></i>
								</button>
							</div>

						</div>

						<!-- Меню тегов -->
						<div class="outtags">
						<div class="grouptags">
						<div class="tags">
							<a class="tag bg-white" th:href="@{/chat1}">Main</a>
							<div th:each="t : ${tags}">
<!--								<a class="tag" th:style="'background:'+ ${t.getColor()}+';'" th:text="${t.getName()}" th:href="@{/tag/{id}(id=${t.getId()})}"></a>-->
								<button onclick="someFunc()" class="tag" th:style="'background:'+ ${t.getColor()}+';'" th:text="${t.getName()}"></button>
							</div>
						</div>
						</div>
							</div>

						<!--	ЧАТ		-->
						<div class="card-body msg_card_body">
							<div class="d-flex justify-content-start mb-4" th:each="m : ${msgs}">
								<div class="msg_cotainer">
									<div class="d-flex firstline">
										<div class="topmsg">
											<a class="username text-dark" th:href="@{/user/{id}(id=${m.getUser().getId()})}" th:text="${m.getUser().getUsername()}" target="_blank"></a>
										</div>
										<div class="tagblock">
											<div th:each="t : ${mt.findAllByMessage_Id(m.getId())}">
												<a class="round" th:style="'background:'+ ${t.getTag().getColor()}+';'" th:href="@{/tag/{id}(id=${t.getTag().getId()})}"></a>
											</div>
										</div>
									</div>
									<span th:text="${m.getText()}"></span>
									<span class="msg_time" th:text="${m.getTimeString()}"></span>
								</div>
							</div>
						</div>

						<!--	ВВОД СООБЩЕНИЯ					-->
						<div class="card-footer">
							<form th:action="@{/chat1}" method="post">
								<div class="input-group-append">
									<input class="form-control type_msg" type="text" name="text" placeholder="Enter your text here">
									<button class="input-group-text send_btn" type="submit">
										<i class="fas fa-location-arrow"></i>
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
<!----------------------------------------Всплывающие окна------------------------------------------------------------------>
<!--		                    ДОБАВЛЕНИЕ ЧАТА                            -->
		<div id="hide">
			<div class="background">
				<div class="back1">
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="card-body msg_card_body">

									<h3 class="crheader"> Create New Chat</h3>

								<form th:action="@{/addChat}" method="post" class="newchat">
								<input class="form-control type_msg chatinput" type="text" name="title" placeholder="Chat name" required>
								<input class="form-control type_msg chatinput" type="text" name="description" placeholder="Description">

									<label for="users" class="label">Select user</label>
									<select class="form-control type_msg chatinput selecting" id="users" th:name="users" name="users" multiple="multiple">
										<option th:each="u : ${users}" th:value="${{u}}" th:text="${u.getUsername()}">
									</select>

								<div class="buttons">
									<button class="input-group-text createbutton" type="submit">Create chat!</button>
									<button class="input-group-text createbutton" id="cancel" type="reset">Cancel</button>
								</div>

								</form>
							</div>
						</div>
					</div>
			</div>
			</div>
		</div>
<!----------------------------------------------------------Информация о чате -->
		<div id="chatinform">
		<div class="background">
				<div class="back1">
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="card-body msg_card_body">
								<h3 class="crheader"> Chat information</h3>
								<div class="buttons">
									<button class="input-group-text createbutton" id="back" type="reset">Back to chat</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>


</html>
